NEXT_PUBLIC_API_BASE_URL=https://sg-admin.newsmaker.id/
NEXT_PUBLIC_MEDIA_BASE_URL=https://sg-admin.newsmaker.id/
NEXT_PUBLIC_PORTALNEWS_MEDIA_BASE_URL=https://portalnews.newsmaker.id/
NEXT_PUBLIC_API_TOKEN=SGB-c7b0604664fd48d9
API_TOKEN=SGB-c7b0604664fd48d9
HISTORICAL_DATA_URL=https://portalnews.newsmaker.id/api/v1/newsmaker/historical-data
HISTORICAL_DATA_API_TOKEN=NM23-8f0f24b4d56af1c3
